<a href='http://moncoachdata.com'><img src= 'https://moncoachdata.com/wp-content/uploads/MonCoachData-cours/MonCoachData.jpg' width=400/></a>


---


<center><em>Copyright MonCoachData (tous droits réservés)</em></center>
<center><em>Pour plus d'informations, visitez notre site <a href='http://moncoachdata.com'>moncoachdata.com</a></em></center>



---

# Méthodes utiles

Examinons quelques méthodes et fonctions utiles intégrées à Pandas. Il s'agit en fait d'un petit échantillon des fonctions et des méthodes disponibles dans la bibliothèque Pandas, mais elles sont parmi les plus couramment utilisées.

La [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) est une excellente ressource pour continuer à explorer davantage de méthodes et de fonctions (nous en présenterons plus loin dans le cours).

Voici une liste des fonctions et des méthodes que nous aborderons ici (Voir le sommaire pour vous rendre sur chaque fonction/méthode sur Google Colab ou en cliquant sur les liens dans la liste ci-dessous sur Jupyter Notebook) :

* [méthode apply()](#apply_method)
* [apply() avec une fonction](#apply_function)
* [apply() avec une expression lambda](#apply_lambda)
* [apply() sur des colonnes multiples](#apply_multiple)
* [describe()](#describe)
* [sort_values()](#sort)
* [corr()](#corr)
* [idxmin et idxmax](#idx)
* [value_counts](#v_c)
* [replace](#replace)
* [unique et nunique](#uni)
* [map](#map)
* [duplicated et drop_duplicates](#dup)
* [between](#bet)
* [sample](#sample)
* [nlargest et nsmallest](#n)

Make sure to view the video lessons to get the full explanation!

<a id='apply_method'></a>
## méthode .apply()

Nous allons découvrir ici une méthode très utile qui s'applique sur un DataFrame : **apply**. Cela nous permet d'appliquer et de diffuser des fonctions personnalisées sur une colonne de DataFrame.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('tips.csv')

In [ ]:
df.head()

   total_bill   tip     sex  ...          Payer Name         CC Number Payment ID
0       16.99  1.01  Female  ...  Christy Cunningham  3560325168603410    Sun2959
1       10.34  1.66    Male  ...      Douglas Tucker  4478071379779230    Sun4608
2       21.01  3.50    Male  ...      Travis Walters  6011812112971322    Sun4458
3       23.68  3.31    Male  ...    Nathaniel Harris  4676137647685994    Sun5260
4       24.59  3.61  Female  ...        Tonya Carter  4832732618637221    Sun2251

[5 rows x 11 columns]

<a id='apply_function'></a>
## apply avec une fonction

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

In [ ]:
def last_four(num):
    return str(num)[-4:]

In [ ]:
df['CC Number'][0]

3560325168603410

In [ ]:
last_four(3560325168603410)

'3410'

In [ ]:
df['last_four'] = df['CC Number'].apply(last_four)

In [ ]:
df.head()

   total_bill   tip     sex  ...         CC Number Payment ID last_four
0       16.99  1.01  Female  ...  3560325168603410    Sun2959      3410
1       10.34  1.66    Male  ...  4478071379779230    Sun4608      9230
2       21.01  3.50    Male  ...  6011812112971322    Sun4458      1322
3       23.68  3.31    Male  ...  4676137647685994    Sun5260      5994
4       24.59  3.61  Female  ...  4832732618637221    Sun2251      7221

[5 rows x 12 columns]

In [ ]:
df['total_bill'].mean()

19.785942622950824

In [ ]:
def yelp(price):
    if price < 10:
        return '$'
    elif price >= 10 and price < 30:
        return '$$'
    else:
        return '$$$'

In [ ]:
df['Expensive'] = df['total_bill'].apply(yelp)

In [ ]:
# df

<a id='apply_lambda'></a>
## apply avec une expression lambda

In [ ]:
def simple(num):
    return num*2

In [ ]:
lambda num: num*2

In [ ]:
df['total_bill'].apply(lambda bill:bill*0.18)

0      3.0582
1      1.8612
2      3.7818
3      4.2624
4      4.4262
        ...
239    5.2254
240    4.8924
241    4.0806
242    3.2076
243    3.3804
Name: total_bill, Length: 244, dtype: float64

<a id='apply_multiple'></a>
## apply avec des colonnes multiples

Notez qu'il existe plusieurs façons de procéder :

https://stackoverflow.com/questions/19914937/applying-function-with-multiple-arguments-to-create-a-new-pandas-column

In [ ]:
df.head()

   total_bill   tip     sex  ... Payment ID last_four Expensive
0       16.99  1.01  Female  ...    Sun2959      3410        $$
1       10.34  1.66    Male  ...    Sun4608      9230        $$
2       21.01  3.50    Male  ...    Sun4458      1322        $$
3       23.68  3.31    Male  ...    Sun5260      5994        $$
4       24.59  3.61  Female  ...    Sun2251      7221        $$

[5 rows x 13 columns]

In [ ]:
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"

In [ ]:
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$        Other
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$        Other
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$        Other
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$        Other
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$        Other

[5 rows x 14 columns]

In [ ]:
import numpy as np

In [ ]:
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$        Other
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$        Other
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$        Other
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$        Other
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$        Other

[5 rows x 14 columns]

Alors, lequel est le plus rapide ?

In [ ]:
import timeit 
  
# extrait de code à exécuter une seule fois 
setup = '''
import numpy as np
import pandas as pd
df = pd.read_csv('tips.csv')
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"
'''
  
# extrait de code dont le temps d'exécution doit être mesuré 
stmt_one = ''' 
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''

stmt_two = '''
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
'''

In [ ]:
timeit.timeit(setup = setup, 
                    stmt = stmt_one, 
                    number = 1000)

4.43691210099999

In [ ]:
timeit.timeit(setup = setup, 
                    stmt = stmt_two, 
                    number = 1000)

0.4924859139999853

Wow ! La vectorisation est beaucoup plus rapide ! Gardez **np.vectorize()** en tête pour l'avenir.

Tous les détails :
https://docs.scipy.org/doc/numpy/reference/generated/numpy.vectorize.html

<a id='describe'></a>
## df.describe pour des résumés statistiques

In [ ]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [ ]:
df.describe().transpose()

                  count          mean  ...           75%           max
total_bill        244.0  1.978594e+01  ...  2.412750e+01  5.081000e+01
tip               244.0  2.998279e+00  ...  3.562500e+00  1.000000e+01
size              244.0  2.569672e+00  ...  3.000000e+00  6.000000e+00
price_per_person  244.0  7.888197e+00  ...  9.390000e+00  2.027000e+01
CC Number         244.0  2.563496e+15  ...  4.553675e+15  6.596454e+15

[5 rows x 8 columns]

<a id='sort'></a>
## sort_values()

In [ ]:
df.sort_values('tip')

     total_bill    tip     sex  ... last_four Expensive Tip Quality
67         3.07   1.00  Female  ...      5267         $    Generous
236       12.60   1.00    Male  ...      3965        $$       Other
92         5.75   1.00  Female  ...      6392         $       Other
111        7.25   1.00  Female  ...      6887         $       Other
0         16.99   1.01  Female  ...      3410        $$       Other
..          ...    ...     ...  ...       ...       ...         ...
141       34.30   6.70    Male  ...      8508       $$$       Other
59        48.27   6.73    Male  ...      0595       $$$       Other
23        39.42   7.58    Male  ...      9808       $$$       Other
212       48.33   9.00    Male  ...      5212       $$$       Other
170       50.81  10.00    Male  ...      8236       $$$       Other

[244 rows x 14 columns]

In [ ]:
# Utile si vous voulez réordonner après un tri
# https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns
df.sort_values(['tip','size'])

     total_bill    tip     sex  ... last_four Expensive Tip Quality
67         3.07   1.00  Female  ...      5267         $    Generous
111        7.25   1.00  Female  ...      6887         $       Other
92         5.75   1.00  Female  ...      6392         $       Other
236       12.60   1.00    Male  ...      3965        $$       Other
0         16.99   1.01  Female  ...      3410        $$       Other
..          ...    ...     ...  ...       ...       ...         ...
141       34.30   6.70    Male  ...      8508       $$$       Other
59        48.27   6.73    Male  ...      0595       $$$       Other
23        39.42   7.58    Male  ...      9808       $$$       Other
212       48.33   9.00    Male  ...      5212       $$$       Other
170       50.81  10.00    Male  ...      8236       $$$       Other

[244 rows x 14 columns]

<a id='corr'></a>
## df.corr() pour des vérifications de corrélation

[Wikipedia sur la corrélation](https://fr.wikipedia.org/wiki/Corr%C3%A9lation_(statistiques))

In [ ]:
df.corr()

                  total_bill       tip      size  price_per_person  CC Number
total_bill          1.000000  0.675734  0.598315          0.647554   0.104576
tip                 0.675734  1.000000  0.489299          0.347405   0.110857
size                0.598315  0.489299  1.000000         -0.175359  -0.030239
price_per_person    0.647554  0.347405 -0.175359          1.000000   0.135240
CC Number           0.104576  0.110857 -0.030239          0.135240   1.000000

In [ ]:
df[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

<a id='idx'></a>
## idxmin et idxmax

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$        Other
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$        Other
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$        Other
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$        Other
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$        Other

[5 rows x 14 columns]

In [ ]:
df['total_bill'].max()

50.81

In [ ]:
df['total_bill'].idxmax()

170

In [ ]:
df['total_bill'].idxmin()

67

In [ ]:
df.iloc[67]

total_bill                      3.07
tip                                1
sex                           Female
smoker                           Yes
day                              Sat
time                          Dinner
size                               1
price_per_person                3.07
Payer Name             Tiffany Brock
CC Number           4359488526995267
Payment ID                   Sat3455
last_four                       5267
Expensive                          $
Tip Quality                 Generous
Name: 67, dtype: object

In [ ]:
df.iloc[170]

total_bill                     50.81
tip                               10
sex                             Male
smoker                           Yes
day                              Sat
time                          Dinner
size                               3
price_per_person               16.94
Payer Name             Gregory Clark
CC Number           5473850968388236
Payment ID                   Sat1954
last_four                       8236
Expensive                        $$$
Tip Quality                    Other
Name: 170, dtype: object

<a id='v_c'></a>
## value_counts

Méthode sympa pour obtenir rapidement un compte par catégorie. N'a de sens que sur les colonnes catégorielles.

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$        Other
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$        Other
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$        Other
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$        Other
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$        Other

[5 rows x 14 columns]

In [ ]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

<a id='replace'></a>

## replace

Remplace rapidement les valeurs par d'autres.

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$        Other
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$        Other
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$        Other
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$        Other
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$        Other

[5 rows x 14 columns]

In [ ]:
df['Tip Quality'].replace(to_replace='Other',value='Ok')

0      Ok
1      Ok
2      Ok
3      Ok
4      Ok
       ..
239    Ok
240    Ok
241    Ok
242    Ok
243    Ok
Name: Tip Quality, Length: 244, dtype: object

In [ ]:
df['Tip Quality'] = df['Tip Quality'].replace(to_replace='Other',value='Ok')

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$           Ok
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$           Ok
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$           Ok
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$           Ok
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$           Ok

[5 rows x 14 columns]

<a id='uni'></a>
## unique

In [ ]:
df['size'].unique()

array([2, 3, 4, 1, 6, 5])

In [ ]:
df['size'].nunique()

6

In [ ]:
df['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

<a id='map'></a>
## map

In [ ]:
my_map = {'Dinner':'D','Lunch':'L'}

In [ ]:
df['time'].map(my_map)

0      D
1      D
2      D
3      D
4      D
      ..
239    D
240    D
241    D
242    D
243    D
Name: time, Length: 244, dtype: object

In [ ]:
df.head()

   total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0       16.99  1.01  Female     No  ...    Sun2959      3410         $$           Ok
1       10.34  1.66    Male     No  ...    Sun4608      9230         $$           Ok
2       21.01  3.50    Male     No  ...    Sun4458      1322         $$           Ok
3       23.68  3.31    Male     No  ...    Sun5260      5994         $$           Ok
4       24.59  3.61  Female     No  ...    Sun2251      7221         $$           Ok

[5 rows x 14 columns]

<a id='dup'></a>

## duplicated() et drop_duplicates()

### .duplicated()

In [ ]:
# Renvoie True pour la première instance d'une ligne dupliquée
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [ ]:
simple_df = pd.DataFrame([1,2,2],['a','b','c'])

In [ ]:
simple_df

   0
a  1
b  2
c  2

In [ ]:
simple_df.duplicated()

a    False
b    False
c     True
dtype: bool

### .drop_duplicates()

In [ ]:
simple_df.drop_duplicates()

   0
a  1
b  2

<a id='bet'></a>
## between

*   **left** : Une valeur scalaire qui définit la limite de gauche
*   **right** : Une valeur scalaire qui définit la limite de droite
*   **inclusive** : Une valeur booléenne qui est True par défaut. Si elle est False, elle exclut les deux arguments passés lors de la vérification.

In [ ]:
df['total_bill'].between(10,20,inclusive=True)

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [ ]:
df[df['total_bill'].between(10,20,inclusive=True)]

     total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
0         16.99  1.01  Female     No  ...    Sun2959      3410         $$           Ok
1         10.34  1.66    Male     No  ...    Sun4608      9230         $$           Ok
8         15.04  1.96    Male     No  ...    Sun6820      0377         $$           Ok
9         14.78  3.23    Male     No  ...    Sun3775      9786         $$           Ok
10        10.27  1.71    Male     No  ...    Sun2546      1219         $$           Ok
..          ...   ...     ...    ...  ...        ...       ...        ...          ...
234       15.53  3.00    Male    Yes  ...    Sat7220      1930         $$           Ok
235       10.07  1.25    Male     No  ...    Sat4615      7605         $$           Ok
236       12.60  1.00    Male    Yes  ...    Sat5032      3965         $$           Ok
242       17.82  1.75    Male     No  ...      Sat17      0950         $$           Ok
243       18.78  3.00  Female     No  ...    Thur672      8139         $$           Ok

[130 rows x 14 columns]

<a id='sample'></a>
## sample

In [ ]:
df.sample(5)

     total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
76        17.92  3.08    Male    Yes  ...    Sat9908      5350         $$           Ok
155       29.85  5.14  Female     No  ...    Sun9176      4664         $$           Ok
102       44.30  2.50  Female    Yes  ...    Sat6240      6604        $$$           Ok
41        17.46  2.54    Male     No  ...    Sun9460      8149         $$           Ok
99        12.46  1.50    Male     No  ...    Fri5575      1626         $$           Ok

[5 rows x 14 columns]

In [ ]:
df.sample(frac=0.1)

     total_bill   tip     sex smoker  ... Payment ID last_four  Expensive  Tip Quality
69        15.01  2.09    Male    Yes  ...     Sat855      7571         $$           Ok
184       40.55  3.00    Male    Yes  ...    Sun5140      4029        $$$           Ok
172        7.25  5.15    Male    Yes  ...    Sun9209      3103          $     Generous
131       20.27  2.83  Female     No  ...   Thur9005      0066         $$           Ok
80        19.44  3.00    Male    Yes  ...   Thur6453      8464         $$           Ok
79        17.29  2.71    Male     No  ...   Thur9501      9738         $$           Ok
29        19.65  3.00  Female     No  ...    Sat2467      6051         $$           Ok
190       15.69  1.50    Male    Yes  ...    Sun5104      8800         $$           Ok
242       17.82  1.75    Male     No  ...      Sat17      0950         $$           Ok
178        9.60  4.00  Female    Yes  ...    Sun4598      9168          $     Generous
191       19.81  4.19  Female    Yes  ...    Thur967      0068         $$           Ok
25        17.81  2.34    Male     No  ...     Sat907      9388         $$           Ok
232       11.61  3.39    Male     No  ...    Sat2124      7995         $$     Generous
197       43.11  5.00  Female    Yes  ...   Thur9313      0175        $$$           Ok
121       13.42  1.68  Female     No  ...   Thur2158      5653         $$           Ok
4         24.59  3.61  Female     No  ...    Sun2251      7221         $$           Ok
205       16.47  3.23  Female    Yes  ...   Thur8084      6486         $$           Ok
7         26.88  3.12    Male     No  ...    Sun8157      5092         $$           Ok
118       12.43  1.80  Female     No  ...   Thur8084      6908         $$           Ok
133       12.26  2.00  Female     No  ...   Thur1561      8145         $$           Ok
223       15.98  3.00  Female     No  ...    Fri6014      3069         $$           Ok
160       21.50  3.50    Male     No  ...     Sun245      4685         $$           Ok
215       12.90  1.10  Female    Yes  ...    Sat6983      9471         $$           Ok
78        22.76  3.00    Male     No  ...   Thur2863      4031         $$           Ok

[24 rows x 14 columns]

<a id='n'></a>
## nlargest et nsmallest

In [ ]:
df.nlargest(10,'tip')

     total_bill    tip     sex  ... last_four Expensive Tip Quality
170       50.81  10.00    Male  ...      8236       $$$          Ok
212       48.33   9.00    Male  ...      5212       $$$          Ok
23        39.42   7.58    Male  ...      9808       $$$          Ok
59        48.27   6.73    Male  ...      0595       $$$          Ok
141       34.30   6.70    Male  ...      8508       $$$          Ok
183       23.17   6.50    Male  ...      9162        $$    Generous
214       28.17   6.50  Female  ...      1962        $$          Ok
47        32.40   6.00    Male  ...      4186       $$$          Ok
239       29.03   5.92    Male  ...      2842        $$          Ok
88        24.71   5.85    Male  ...      9955        $$          Ok

[10 rows x 14 columns]